


.op:after {
    content: "";
    display: table;
    clear: both;
    padding:5px;
}

.first, .second, .third, .fourth{
  position:relative;
  left:-13%;
  margin: 5px 40px 50px 40px ;
  float:right;
  height:200px;
  width:150px;
  padding:20px;
  background-color:rgb(250, 249, 249);
  box-shadow:10px 10px 10px 10px lightgrey;
  font-family:Arial;
  font-size:15px;
  color:black;
}
