a:link,a:visited{
  padding:7px 7px;
  color:white;
  background-color: black;
  text-align:bottom ;
  text-decoration:none;
  display:inline-block;
}

  a:active,a:hover{
    color:white;
    background-color:rgba(0, 110, 255, 0.788);
  }

div{
  padding:20px;
}
.right{
  margin:0 0 0 60%;
width: 400px;
height: 200px;
padding: 20px;
background-color:white;
box-shadow: 15px 15px 5px grey;
border-radius:15px;
text-align:center;
font-family: Arial;
font-size:20px;
color:rgb(0, 0, 0);
 }
  .left{

width: 400px;
height: 200px;
padding: 20px;
background-color:white;
box-shadow: 15px 15px 5px grey;
border-radius:15px;
text-align:center;
font-family: Arial;
font-size: 20px;
color:rgb(0, 0, 0);
}
.top{
margin:0 0 0 60%;
width: 400px;
height: 200px;
padding: 20px;
background-color:white;
box-shadow: 15px 15px 5px grey;
border-radius:15px;
text-align:center;
font-family: Arial;
font-size: 20px;
color:rgb(0, 0, 0);
}

.boxy{

margin:20px auto;
width: 700px;
height: 400px;
padding: 20px;
background-color:white;
box-shadow: 15px 15px 5px grey;
border-radius:15px;
text-align:center;
font-family: Arial;
font-size: 20px;
color:rgb(0, 0, 0);
}