/* navbar*/
.body{
   margin: 0;
   font-family: Arial;
}

div{
    padding:20px;
}

div.navbar{
    margin:0;
    padding:0;
    background-color:rgb(27, 100, 209);
    width:100%;
    height:1.2cm;
}
ul.ntop{
    position: absolute;
    left:28%; top:0.65%; 
    list-style-type: none;
    margin: 0 auto;
    padding :0;
}

ul.ntop li{
    display: inline;
}
ul.ntop li a{ 
    text-decoration:none ;
    color:rgba(235, 229, 229, 0.932);
    font-size:30px;
    width:fit-content;
    padding: 6px 15px;
    font-family:arial ;
}

ul.ntop li a:hover, ul.ntop li a:active{
    border-radius: 15px;
    border: 1px solid rgb(27, 100, 209);
    color:white;
    background-color: rgb(14, 121, 221);
    

}

/*gradient background*/
div.gradback{
    height:16cm;
    padding:5px;
    background-image: linear-gradient( rgba(26, 98, 209,0.95),rgb(90, 141, 199),rgba(255,0,0,0));
}

.back-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.b01{
    background-color: rgb(18, 118, 184);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 .b01:hover{
    background-color: rgb(39, 155, 233);
 }


/*    footer    */
.footer{
    background-color: rgb(247, 248, 244);
}
.footer:after {
    content: "";
    display: table;
    clear: both;
    padding:5px;
  }

.fcolumn{
    float:left;
    width:45%;
}

 .fcolumn h2{
    font-size: 35px;
    color:rgb(19, 98, 216);
    margin:0;
    position: relative;
    left: 15%;
 }

.fcolumn p{
    position: relative;
    left: 17%;
    color:rgb(134, 125, 125);
    font-size:22px;
}

.fcolumn i{
    position: relative;
    left: 17%;
    font-size:35px;
    padding:20px;
    color:rgb(79, 118, 177);
}

/*-- our projects--*/
.proj h2{
    font-size: 30px;
    color:rgb(19, 98, 216);
    text-align: center;
    padding:10px;
    text-decoration:underline;
}
